@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
